<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>something {{ page.title | capitalize }}</title>
</head>
<body>

<%= context['callable'] %>
{{ callable }}

<h3>try this loop thingy - bitches on the run  </h3>

<h3>Normal:</h3>
<ul>
<%= context['links'].first %>
<% for item in context['links'] %>
<li><%= item %></li> 
<% end %>
</ul>

<h3>Reverse:</h3>
<ul>
  <% context['links'].reverse.each_with_index do |item, index| %>
    <li <% if index % 2 == 0 %>style="background:green"<% end %>>
    <%= (context['links'].length - index == 0) %> <%= index %> - <%= item %>
    
    <% context['links'].each_with_index do |shit, index| %>
      <%= index %>
    <% end %>
    </li>
  <% end %>

</ul>

<h3>Empty:</h3>
<% for ass in [] %>
  <% defined? ass  %>  
<% end %>

<h3>Nested: TODO</h3>

<h3>Conditions</h3>

<% if context['page']['title'] %>
this is a page title
<% else %>
test - else block
<% end %>

  <h1><%= context['page']['title'].capitalize %></h1>
  <small><%= context['page']['description'] %></small>
  <p><%= context['page']['body'] %></p>
</body>
</html>
